/* You can add global styles to this file, and also import other style files */

*{margin: 0; padding:0;}

.card{
    height: 100px;
    margin: 0;
    padding: 12px;
    background-color: rgb(165, 164, 142);
    border-radius: 1px solid;
}
.p{
    color: black;
}
.btn{
    background-color: rgb(165, 164, 142);
    color: white;
    border-radius: 1px;
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    width: 30px;
}
